#Ignore Mac system files
.DS_store

#Ignore full dataset csv and the california csv (too big)
US_Accidents_Dec19 2.csv
cal.csv
api_keys.py
US_Accidents_Dec19.csv
export.html
cal_weather.csv
__pycache__/*.*
__pycache__/*